<div>
  <div class="card">
    <p>
      <strong>Name: Aniruddha Das</strong>
    </p>
    <p>
      <strong>Mobile</strong>
      : +1 415 650 9102<strong></strong>
    </p>
    <p>
      <strong>E-Mail</strong>
      : <a href="mailto:aniruddhadas9@gmail.com">aniruddhadas9@gmail.com</a>
    </p>
    <p>
      <strong>Linkedin</strong>
      :
      <a href="https://www.linkedin.com/in/aniruddhadas9">
        https://www.linkedin.com/in/aniruddhadas9
      </a>
    </p>
    <p>
      <strong>Stackoverflow:</strong>
      <a href="http://stackoverflow.com/users/537647/aniruddha-das">
        http://stackoverflow.com/users/537647/aniruddha-das
      </a>
      <u></u>
    </p>
    <p>
      <strong>Github</strong>
      :
      <a href="https://github.com/aniruddhadas9">
        https://github.com/aniruddhadas9
      </a>
      <u></u>
    </p>
    <p>
      <strong>Npmjs</strong>
      :
      <a href="https://www.npmjs.com/~aniruddhadas9">
        https://www.npmjs.com/~aniruddhadas9
      </a>
    </p>
  </div>
</div>
