<div class="home">

  <div class="sections">
    <app-profile-image></app-profile-image>
  </div>
  <div class="social-links">
    <app-social-links></app-social-links>
  </div>

  <div class="summary sections">
    <ani-summary></ani-summary>
  </div>

  <div class="sections">
    <ani-work-experience></ani-work-experience>
  </div>

  <div class="sections">
    <ani-techinical-skills></ani-techinical-skills>
  </div>

  <div class="sections">
    <ani-projects></ani-projects>
  </div>

  <div class="sections">
    <ani-honors-and-awards></ani-honors-and-awards>
  </div>

  <!--<div class="sections">
    <ani-educations></ani-educations>
  </div>-->

  <div class="sections">
    <ani-personal-information></ani-personal-information>
  </div>

  <div class="sections">
    <ani-declaration></ani-declaration>
  </div>

</div>
