<div class="contacts">

  <div class="card">
    <div class="card-header">
      <h5>Aniruddha Das contact details</h5>
    </div>
    <div class="card-body">
      <div class="row d-flex justify-content-between">
        <div class="col">
          <address>
            Current Address:<br>
            Gaithersburg, Maryland<br>
            USA 20878
            email <a href="mailto:aniruddhadas9@gmail.com">Aniruddha Das</a>.<br>
          </address>
        </div>
        <div class="col">
          <address>
            Work Address:<br>
            Rockville, Maryland<br>
            USA 20850
            email <a href="mailto:aniruddhadas9@gmail.com">Aniruddha Das</a>.<br>
          </address>
        </div>
      </div>
    </div>
  </div>

</div>
