.summary {
  .name {
    margin-bottom: 12px;
  }
  .about {
    margin-bottom: 12px;
  }
  .skills {
    margin-bottom: 12px;
  }
}
@media print {
  .summary {
    margin-top: 140px
  }
  .print {
    display: none;
  }
}
