<div>
  <p>
    <strong>SUMMARY</strong>
  </p>
</div>
<p>
  <strong></strong>
</p>
<p>
  A self-motivated full-stack, multi-domain, responsible and
  solutions-orientated
  <strong>
    JavaScript, TypeScript, ES6, Angular2/4, AngularJS, NodeJs, jQuery,
    HTML, CSS,
  </strong>
  <strong>
    JAVA, J2EE, Spring, PHP, Shell Script, PL SQL, MySQL, Google App
    Engine, Google Data store, JPA, Cucumber BDD, Karma, Jasmine,
    Protractor
  </strong>
  Professional with more then <strong>10+ Years of IT experience</strong> in
  a various IT stages including Design, developing, Unit testing and
  enhancement and support application.
</p>
<p>
  <strong>Architecture and Design:</strong>
</p>
<p>
  · Extensive experience in design and develop of modern age web application
  where web services exposed using REST (JAVA, PHP, <strong>Spring Boot</strong>, Node, etc.) and consumed from
  front-end MVC
  like <strong>Angular 2/4 or AngularJS 1.x</strong>.
</p>
<p>
  · Good Experience in analyzing business requirement and writing Functional
  specification and design for the IT development.
</p>
<p>
  · Good Experience in design and develop angular2 and angularjs application
  in any environment.
</p>
<p>
  · Architectural experience of designing test framework for the developer
  and testers using <strong>Protractor, Karma, Jasmine</strong> and
  configuring them with <strong>Gulp, Grunt, npm, etc. </strong>
</p>
<p>
  · Good experience of configuring <strong>build tool</strong> like <strong>Jenkins or GoCD</strong>.
</p>
<p>
  · Good experience in designing Behavior Driven Development (BDD) model and
  developing application using <strong>Cucumber BDD framework</strong>, java
  and JavaScript.
</p>
<p>
  <strong>UI/UX:</strong>
</p>
<ul>
  <li align="left">
    Strong Implementation knowledge of <strong>Angular2/4,</strong><strong>AngularJS, Bootstrap</strong>, <strong>HTML5,
    CSS3, JavaScript, jQuery, jQuery Mobile.</strong>
  </li>
  <li align="left">
    Strong development experience in <strong>Typescript</strong> and<strong>ES6</strong>development along with module
    implementation like <strong>CommonJS, AMD, RequireJS, UMD, SystemJS, ES6</strong>.
  </li>
  <li align="left">
    Good implementing knowledge of Core<strong>Object Oriented JavaScript</strong> and JavaScript library like <strong>Angular2,
    AngularJS, jQuery, ES6</strong> and other JavaScript
    Library.
  </li>
  <li>
    Good work Experience in writing <strong>MVC frontend web application</strong> using AngularJS,
    Bootstrap and related JavaScript, HTML 5 and CSS 3 plugins.
  </li>
  <li>
    Good experience using <strong>SCSS/SASS</strong> preprocessor of CSS
    and use of SCSS technologies like <strong>Mixins, Media query, nesting variable.</strong>
  </li>
  <li>
    Good experience of using tools like
    <strong>
      Gulp, grunt, npm, Webpack, SystemJS, node, karma, jasmine,
      protactor
    </strong>
    to develop front end applications.
  </li>
</ul>
<p>
  · Good Experience implementing jQuery plugins like <strong>Select2</strong>
  and <strong>jQuery Data Table</strong>.
</p>
<p>
  · Good experience in securing front end applications using various
  technologies to prevent <strong>XSRF, CSRF</strong> kind of attacks
</p>
<p>
  <strong>JAVA/J2EE/PHP:</strong>
</p>
<p>
  · Good knowledge of designing and developing Enterprise Application using
  JAVA, J2EE, spring, Struts, etc.
</p>
<ul>
  <li>
    Worked in many Enterprise Application using
    <strong>
      JAVA, J2EE, Spring, Spring Boot, Spring MVC, Struts, etc.
    </strong>
  </li>
  <li align="left">
    Good working experience in MVC frameworks like <strong> Spring MVC, Struts, cakePHP.</strong>
  </li>
</ul>
<p align="left">
  · Good experience in developing web application using PHP, cakePHP, joomla,
  etc.
</p>
<p align="left">
  · Designed and developed many applications for producing and consuming web
  services using <strong>REST, SOAP</strong> based technology like Spring 4,
  Axis 2, etc.
</p>
<p>
  <strong>Database and NoSQL:</strong>
</p>
<p>
  · Good experience in developing application on<strong>SAS platform</strong> and cloud infrastructure like <strong>Google
  App Engine</strong>.
</p>
<p>
  · Good experience in designing database in Oracle and MySQL platform. Also
  have good working knowledge of NoSQL platform like <strong>Google datastore and JPA</strong>.
</p>
<ul>
  <li>
    Worked and have deep implementation knowledge of <strong>ORACLE 11g (SQL &amp; PL/ SQL)</strong>
  </li>
</ul>
<p>
  <strong>Cloud and SAS:</strong>
</p>
<p>
  · Good experience in developing application on<strong>SAS platform</strong> and cloud infrastructure like <strong>Google
  App Engine</strong>.
</p>
<p>
  · Developed web application using Spring in google App Engine
</p>
<p>
  · Good experience in google Cloud data store, Big table and Integrated many
  google API
</p>
<p>
  <strong></strong>
</p>
<p>
  <strong>Management and Processes: </strong>
</p>
<ul>
  <li>
    Good development experience is <strong>agile</strong> methodology and
    agile process.
  </li>
</ul>
<p>
  · Good Leadership and team managing skills.
</p>
<p>
  · Good team player and also individual contributor by taking ownership of
  application and also experiences of mentoring intern and juniors.
</p>
<p align="left">
  · Good knowledge of integrating many 3<sup>rd</sup> party software tools
  and various API.
</p>
<p>
  <strong>Domain and Functional:</strong>
</p>
<p>
  · Has good domain knowledge in <strong>Intranet Portal</strong>,
  <strong>
    HRMS, SCM, CRM, Real-estate, Customer support application, Account
    software, etc.
  </strong>
</p>
<p>
  · Good experience in developing Enterprise application.
</p>
<p>
  · Developed application in supply chain management (SCM), Customer
  Relationship Management (CRM), Retail, Social Communication, etc. domains.
</p>
<p align="left">
  · Good knowledge of integrating many 3<sup>rd</sup> party software tools
  and various API.
</p>
<p>
  <strong>Testing Frameworks:</strong>
</p>
<p align="left">
  · Good experience in unit testing and behavior testing using framework like<strong>protractor, Jasmine,
  Karma,</strong> <strong>cucumber, web-driver, etc.</strong>
</p>
<ul>
  <li align="left">
    Good experience of <strong>Test Driven development (TDD)</strong> and <strong>Behavior driven development
    (BDD)</strong> using Cucumber and
    many more frameworks.
  </li>
</ul>
<p>
  <strong></strong>
</p>
<p>
  <strong>Others:</strong>
</p>
<ul>
  <li align="left">
    Good experience Application deployment and management using <strong>Jenkins, GoCD.</strong>
  </li>
  <li align="left">
    Have good experience of code review using various tools like <strong>Git pool request, Crucible</strong>, Google
    code review tool,
    etc.
  </li>
</ul>
