<div class="summary">

  <div class="name">
    <h2>{{name}}</h2>
    <p>phone: {{phone}}</p>
    <p>email: {{email}}</p>
    <!--<strong>13+ Years of IT experience</strong>-->
  </div>

  <div class="about">
    <p>
      Principal Engineer with experience of frontend (UI) architect. Have 13+ years of experience in multiple roles including full-stack, lead, team managing in multiple domain.
      Strong experience in
      <strong>JavaScript, TypeScript, ES6, Angular (current 13+), React, Vue, AngularJS, NodeJs, jQuery, HTML, CSS, JAVA, J2EE, Spring Boot, PHP, MySQL, Google App Engine, Google Data store, JPA, Cucumber BDD, Karma, Jasmine, Protractor</strong>.
      Professional with more then <strong>13+ Years of IT experience</strong> in a various IT stages including Architect, Design, Management, development, Unit testing and enhancement.
    </p>
  </div>

  <div class="skills">
    <div class="skill" *ngFor="let skill of skills">
      <div><strong>{{skill.name}}</strong></div>
      <ul>
        <li *ngFor="let point of skill.description">
          <span [innerHTML]="point"></span>
        </li>
      </ul>
    </div>

  </div>
</div>
