<p>
  <strong>Name: Aniruddha Das</strong>
</p>
<p>
  <strong>Mobile</strong>
  : +1 415 650 9102<strong></strong>
</p>
<p>
  <strong>E-Mail</strong>
  : <a href="mailto:aniruddhadas9@gmail.com">aniruddhadas9@gmail.com</a>
</p>
<p>
  <strong>Linkedin</strong>
  :
  <a href="https://www.linkedin.com/in/aniruddhadas9">
    https://www.linkedin.com/in/aniruddhadas9
  </a>
</p>
<p>
  <strong>Stackoverflow:</strong>
  <a href="http://stackoverflow.com/users/537647/aniruddha-das">
    http://stackoverflow.com/users/537647/aniruddha-das
  </a>
  <u></u>
</p>
<p>
  <strong>Github</strong>
  :
  <a href="https://github.com/aniruddhadas9">
    https://github.com/aniruddhadas9
  </a>
  <u></u>
</p>
<p>
  <strong>Npmjs</strong>
  :
  <a href="https://www.npmjs.com/~aniruddhadas9">
    https://www.npmjs.com/~aniruddhadas9
  </a>
</p>
<div>
  <p>
    <strong>SUMMARY</strong>
  </p>
</div>
<p>
  <strong></strong>
</p>
<p>
  A self-motivated full-stack, multi-domain, responsible and
  solutions-orientated
  <strong>
    JavaScript, TypeScript, ES6, Angular2/4, AngularJS, NodeJs, jQuery,
    HTML, CSS,
  </strong>
  <strong>
    JAVA, J2EE, Spring, PHP, Shell Script, PL SQL, MySQL, Google App
    Engine, Google Data store, JPA, Cucumber BDD, Karma, Jasmine,
    Protractor
  </strong>
  Professional with more then <strong>10+ Years of IT experience</strong> in
  a various IT stages including Design, developing, Unit testing and
  enhancement and support application.
</p>
<p>
  <strong>Architecture and Design:</strong>
</p>
<p>
  · Extensive experience in design and develop of modern age web application
  where web services exposed using REST (JAVA, PHP, <strong>Spring Boot</strong>, Node, etc.) and consumed from
  front-end MVC
  like <strong>Angular 2/4 or AngularJS 1.x</strong>.
</p>
<p>
  · Good Experience in analyzing business requirement and writing Functional
  specification and design for the IT development.
</p>
<p>
  · Good Experience in design and develop angular2 and angularjs application
  in any environment.
</p>
<p>
  · Architectural experience of designing test framework for the developer
  and testers using <strong>Protractor, Karma, Jasmine</strong> and
  configuring them with <strong>Gulp, Grunt, npm, etc. </strong>
</p>
<p>
  · Good experience of configuring <strong>build tool</strong> like <strong>Jenkins or GoCD</strong>.
</p>
<p>
  · Good experience in designing Behavior Driven Development (BDD) model and
  developing application using <strong>Cucumber BDD framework</strong>, java
  and JavaScript.
</p>
<p>
  <strong>UI/UX:</strong>
</p>
<ul>
  <li align="left">
    Strong Implementation knowledge of <strong>Angular2/4,</strong><strong>AngularJS, Bootstrap</strong>, <strong>HTML5,
    CSS3, JavaScript, jQuery, jQuery Mobile.</strong>
  </li>
  <li align="left">
    Strong development experience in <strong>Typescript</strong> and<strong>ES6</strong>development along with module
    implementation like <strong>CommonJS, AMD, RequireJS, UMD, SystemJS, ES6</strong>.
  </li>
  <li align="left">
    Good implementing knowledge of Core<strong>Object Oriented JavaScript</strong> and JavaScript library like <strong>Angular2,
    AngularJS, jQuery, ES6</strong> and other JavaScript
    Library.
  </li>
  <li>
    Good work Experience in writing <strong>MVC frontend web application</strong> using AngularJS,
    Bootstrap and related JavaScript, HTML 5 and CSS 3 plugins.
  </li>
  <li>
    Good experience using <strong>SCSS/SASS</strong> preprocessor of CSS
    and use of SCSS technologies like <strong>Mixins, Media query, nesting variable.</strong>
  </li>
  <li>
    Good experience of using tools like
    <strong>
      Gulp, grunt, npm, Webpack, SystemJS, node, karma, jasmine,
      protactor
    </strong>
    to develop front end applications.
  </li>
</ul>
<p>
  · Good Experience implementing jQuery plugins like <strong>Select2</strong>
  and <strong>jQuery Data Table</strong>.
</p>
<p>
  · Good experience in securing front end applications using various
  technologies to prevent <strong>XSRF, CSRF</strong> kind of attacks
</p>
<p>
  <strong>JAVA/J2EE/PHP:</strong>
</p>
<p>
  · Good knowledge of designing and developing Enterprise Application using
  JAVA, J2EE, spring, Struts, etc.
</p>
<ul>
  <li>
    Worked in many Enterprise Application using
    <strong>
      JAVA, J2EE, Spring, Spring Boot, Spring MVC, Struts, etc.
    </strong>
  </li>
  <li align="left">
    Good working experience in MVC frameworks like <strong> Spring MVC, Struts, cakePHP.</strong>
  </li>
</ul>
<p align="left">
  · Good experience in developing web application using PHP, cakePHP, joomla,
  etc.
</p>
<p align="left">
  · Designed and developed many applications for producing and consuming web
  services using <strong>REST, SOAP</strong> based technology like Spring 4,
  Axis 2, etc.
</p>
<p>
  <strong>Database and NoSQL:</strong>
</p>
<p>
  · Good experience in developing application on<strong>SAS platform</strong> and cloud infrastructure like <strong>Google
  App Engine</strong>.
</p>
<p>
  · Good experience in designing database in Oracle and MySQL platform. Also
  have good working knowledge of NoSQL platform like <strong>Google datastore and JPA</strong>.
</p>
<ul>
  <li>
    Worked and have deep implementation knowledge of <strong>ORACLE 11g (SQL &amp; PL/ SQL)</strong>
  </li>
</ul>
<p>
  <strong>Cloud and SAS:</strong>
</p>
<p>
  · Good experience in developing application on<strong>SAS platform</strong> and cloud infrastructure like <strong>Google
  App Engine</strong>.
</p>
<p>
  · Developed web application using Spring in google App Engine
</p>
<p>
  · Good experience in google Cloud data store, Big table and Integrated many
  google API
</p>
<p>
  <strong></strong>
</p>
<p>
  <strong>Management and Processes: </strong>
</p>
<ul>
  <li>
    Good development experience is <strong>agile</strong> methodology and
    agile process.
  </li>
</ul>
<p>
  · Good Leadership and team managing skills.
</p>
<p>
  · Good team player and also individual contributor by taking ownership of
  application and also experiences of mentoring intern and juniors.
</p>
<p align="left">
  · Good knowledge of integrating many 3<sup>rd</sup> party software tools
  and various API.
</p>
<p>
  <strong>Domain and Functional:</strong>
</p>
<p>
  · Has good domain knowledge in <strong>Intranet Portal</strong>,
  <strong>
    HRMS, SCM, CRM, Real-estate, Customer support application, Account
    software, etc.
  </strong>
</p>
<p>
  · Good experience in developing Enterprise application.
</p>
<p>
  · Developed application in supply chain management (SCM), Customer
  Relationship Management (CRM), Retail, Social Communication, etc. domains.
</p>
<p align="left">
  · Good knowledge of integrating many 3<sup>rd</sup> party software tools
  and various API.
</p>
<p>
  <strong>Testing Frameworks:</strong>
</p>
<p align="left">
  · Good experience in unit testing and behavior testing using framework like<strong>protractor, Jasmine,
  Karma,</strong> <strong>cucumber, web-driver, etc.</strong>
</p>
<ul>
  <li align="left">
    Good experience of <strong>Test Driven development (TDD)</strong> and <strong>Behavior driven development
    (BDD)</strong> using Cucumber and
    many more frameworks.
  </li>
</ul>
<p>
  <strong></strong>
</p>
<p>
  <strong>Others:</strong>
</p>
<ul>
  <li align="left">
    Good experience Application deployment and management using <strong>Jenkins, GoCD.</strong>
  </li>
  <li align="left">
    Have good experience of code review using various tools like <strong>Git pool request, Crucible</strong>, Google
    code review tool,
    etc.
  </li>
</ul>
<p>
  <strong></strong>
</p>
<p>
  <strong></strong>
</p>
<div>
  <p>
    <strong>WORK EXPERIENCE</strong>
  </p>
</div>
<p>
  Currently working as Senior Software Engineer/Architect with <strong>PeopleTech Group </strong>from July 2016 to till
  date.
</p>
<p>
  - Currently working as senior developer at FINRA as a full stack developer
  and developing HERD and shepherd using AnugularJS, Angular 4, JAVA, Spring
  in Amazon aws cloud environment.
</p>
<p>
  - Herd and shepherd are indexing data of all financial institutes of USA.
  Herd is open source and available for public in Github and shepherd will
  soon be open source after angular4 migration.
</p>
<p>
  - Worked at <strong>Comcast</strong> in <strong>Einstein360</strong>
  project in
  <strong>
    Angular2, Angularjs, JavaScript, gulp, webpack, npm, systemjs, node,
    html5, SCSS, spring boot
  </strong>
  , etc.
</p>
<p>
  - Preparing architecture for the angular2 and angularjs application to
  consume REST web services form spring boot application which are integrated
  as widget in einstein360 application.
</p>
<p>
  - Preparing test frameworks implementation using Karma, Jasmine,
  protractor, JavaScript to test many widgets under einstein360 project.
</p>
<p>
  Worked as Senior Software Engineer with <strong>eTouch Systems Corporation </strong>from February 2016 to July
  2016.
</p>
<p>
  - Deployed at <strong>Intuit</strong> and working in <strong>QuickBooks</strong> project in JavaScript, React, NodeJs,
  html5,
  scss, etc
</p>
<p>
  - Working on the area of application development using UI/UX and JAVA.
</p>
<p>
  - Developing and enhancing module using<strong>JAVA/J2EE, Spring MVC</strong>, <strong>HTML 5, CSS 3, jQuery 1.8,
  AngularJS 1.4 </strong>in payment
  module.
</p>
<p>
  - Designing and developing a framework using cucumber (BDD), JAVA,
  JavaScript to test many applications under various project.
</p>
<p>
  Worked as Analyst I -Apps Prog with <strong>Bank of America </strong>from
  November 2014 to January 2016.
</p>
<p>
  - Working as a key resource on CashPro project by taking ownership of
  Payment module
</p>
<p>
  - Developing and enhancing module using<strong>JAVA 1.7, Spring MVC</strong>, <strong>HTML 5, CSS 3, jQuery 1.8,
  AngularJS 1.4 </strong>in payment
  module.
</p>
<p>
  - Designing and developing a framework using cucumber (BDD), JAVA,
  JavaScript to test all application Under CashPro in Bank of America.
</p>
<p>
  Worked as Senior Associate –Project with<strong>Cognizant Technology Services</strong> and was deployed at <strong>Google
  India </strong>from April 2014 to November 2014.
</p>
<p>
  - Understanding requirement from Business team and then implementing them
  with the best possible technology as a team.
</p>
<p>
  - Developing web application using <strong>JAVA, Python</strong>,
  <strong>
    HTML 5, CSS 3, jQuery, AngularJS in Google App Engine Cloud
  </strong>
  for the business team to improve productivity of the team.
</p>
<p>
  Worked as Senior Software Engineer with <strong>NCR Corporation (I) Pvt. Ltd. </strong>From December 2010 to Mar
  2014.
</p>
<p>
  - Preparing Design and Function specification document of projects by
  interacting with the business team.
</p>
<p>
  - Developing new modules and supporting them in existing Applications.
</p>
<p>
  - Worked in technologies like JAVA, J2EE, HTML5, CSS3, JavaScript, jQuery,
  jQuery Mobile
</p>
<p>
  - Support application 24*7 application in the areas of UNIX, Control-M
  automated jobs, PL/SQL, JAVA/J2EE
</p>
<p>
  - Worked on NCR intranet portal using Joomla, PHP, MySQL, jQuery, HTML,
  CSS.
</p>
<p>
  Worked as Senior Software Engineer with <strong>smartData Enterprises India Ltd. </strong>From December 2009 to
  September 2010.
</p>
<p>
  - I worked in SCM and CRP project of one of the reputed client called
  Revolution Group.
</p>
<p>
  - Worked in various technology including JAVA/J2EE, PHP, MySQL, CakePHP,
  Joomla, HTML, CSS, JavaScript, jQuery
</p>
<p>
  - Worked in Fashion social Media site called Fame Addict using Joomla and
  jQuery
</p>
<p>
  Worked as a Senior Software Engineer with <strong>Authentic Technology (India) Pvt. Ltd., Bhubaneswar from</strong>
  April 2008 to December 2009.
</p>
<p>
  - Worked in various internal and external IT projects of the company.
</p>
<p>
  - Worked on Authentic Global Account (GCA) using JAVA, J2EE, Struts1.2 and
  JavaScript.
</p>
<p>
  - Prepared a College management system for various engineering colleges
  using PHP, MySQL and JavaScript.
</p>
<p>
  Worked as a Software Engineer with<strong>Assurgent Technology Solution Pvt. Ltd.</strong>, <strong>Kolkata</strong>.
  From March 2007 up to April 2008.
</p>
<p>
  - I joined as a trainee software engineer and got chance to learn and work
  on various projects of the company.
</p>
<p>
  - I developed many small websites for company’s clients using PHP, MySQL,
  and JavaScript.
</p>
<p>
  - Worked in Flour Mill management system using PHP, MySQL and JavaScript.
</p>
<div>
  <p>
    <strong>EDUCATIONAL QUALIFICATION</strong>
  </p>
</div>
<p>
  <strong></strong>
</p>
<table border="0" cellspacing="0" cellpadding="0" width="455">
  <tbody>
  <tr>
    <td width="122" valign="top">
      <p>
        <strong>Qualification</strong>
      </p>
    </td>
    <td width="203">
      <h3>
        University/ Institution
      </h3>
    </td>
    <td width="36">
      <h3 align="center">
        Year
      </h3>
    </td>
    <td width="95">
      <h3>
        Percentage (%)
      </h3>
    </td>
  </tr>
  <tr>
    <td width="122">
      <p>
        Bachelor of engineering in computer science
      </p>
    </td>
    <td width="203">
      <p>
        Ghanshyam Hemalata Inst. of Technology and Management,
        Utkal University/BPUT, Odisha, India
      </p>
    </td>
    <td width="36">
      <p align="center">
        2006
      </p>
    </td>
    <td width="95">
      <p align="center">
        64.90
      </p>
    </td>
  </tr>
  <tr>
    <td width="122">
      <p>
        high school
      </p>
    </td>
    <td width="203">
      <p>
        Board of secondary Education, Odisha, India
      </p>
    </td>
    <td width="36">
      <p align="center">
        2000
      </p>
    </td>
    <td width="95">
      <p align="center">
        65.33
      </p>
    </td>
  </tr>
  <tr>
    <td width="122">
      <p>
        Intermediate
      </p>
    </td>
    <td width="203">
      <p>
        Council of higher secondary Education, Odisha, India
      </p>
    </td>
    <td width="36">
      <p align="center">
        2002
      </p>
    </td>
    <td width="95">
      <p align="center">
        49.11
      </p>
    </td>
  </tr>
  </tbody>
</table>
<div>
  <p>
    <strong>TECHNICAL SKILLS</strong>
  </p>
</div>
<p>
  <strong></strong>
</p>
<p>
  Backend programming : JAVA/J2EE, PHP, spring, Spring Boot, NodeJS, etc
</p>
<p>
  Frontend or UI Programming : TypeScript, JavaScript, HTML5, SCSS, SASS, CSS
  3
</p>
<p>
  JavaScript Libraries : Angular 2, Angular 1, jQuery, jQuery Mobile
</p>
<p>
  RDBMS : Oracle 11g, PL/SQL, SQL, MySQL5.5, Google Cloud datastore.
</p>
<p>
  Cloud platforms : Google Cloud platform, Google App Engine
</p>
<p>
  Web Server : Tomcat, XAMPP, WebLogic, App Engine Server, lite-server, etc
</p>
<p>
  Framework : Spring 4, Struts 1.2/2, CakePHP, Cucumber, etc
</p>
<p>
  IDE : InteliJ, Web Storm, Eclipse, My Eclipse, SQL Navigator.
</p>
<p>
  Source Control : Git, Google Cloud source, SVN, CVS, Perforce
</p>
<p>
  Operating Systems : Windows, Ubuntu Linux, Mac 10x, UNIX, Solaris
</p>
<p>
  Tools : Git, JIRA Issue Tracking Tool, BMC Remedy, HP QC, Star, etc.
</p>
<div>
  <p>
    <strong>PROJECTS EXPERIENCE</strong>
    <strong><u></u></strong>
  </p>
</div>
<p>
  <strong><u></u></strong>
</p>
<p>
  <strong><u>Project #1</u></strong>
</p>
<p>
  Project Name : Herd and Shepherd (http://finraos.github.io/herd/)
</p>
<p>
  Role : Full stack developer
</p>
<p>
  Client : FINRA
</p>
<p>
  Application Server : AWS EC2
</p>
<p>
  Duration <strong> </strong> : Januray 2017 to till date
</p>
<p>
  Team : 15-20
</p>
<p>
  Technology used <strong> </strong>: AngularJS, Angular 2/4, TypeScript,
  SCSS, JavaScipt, Spring Boot.
</p>
<p>
  Tools : Intellij, Visual Studio Code, etc.
</p>
<p>
  Description: Working as a full stack developer in UI/UX using AngularJS,
  Angular 2/4, TypeScript etc. In the back end side JAVA with Spring in
  amazon AWS EC2 instance. Herd and Shepherd are data management and indexing
  application for FINRA and open source to public. Other technologies used
  are Spring bootKarma, Jasmine, Protractor.
</p>
<p>
  <strong><u></u></strong>
</p>
<p>
  <strong><u>Project #2</u></strong>
</p>
<p>
  Project Name : Einstein 360 widgets (http://einstein.comcast.com)
</p>
<p>
  Role : Architect and lead developer to create widgets
</p>
<p>
  Client : Comcast
</p>
<p>
  Application Server : Comcast Servers
</p>
<p>
  Duration <strong> </strong> : July 2016 to January 2017
</p>
<p>
  Team : 13
</p>
<p>
  Technology used <strong> </strong>: Angular 2, TypeScript, SCSS, Angular 1,
  JavaScipt, Spring Boot.
</p>
<p>
  Tools : Intellij, Visual Studio Code, Sublime Text, SOAP UI, etc.
</p>
<p>
  Description: Architect and developed widgets using both angular1 and
  angular with spring boot as rest service provider for the Einstein 360
  which is a customer service application for the Comcast
  telecallers.Initially we started developing angular1 widgets and plugins,
  when anguluar2 released we successfully created and deployed widgets and
  plugins using angular2 as well. Other technologies used are Spring boot,
  gradle, Gulp, Grunt, Systemjs, Karma, Jasmine, Protractor.
</p>
<p>
  .
</p>
<p>
  <strong><u></u></strong>
</p>
<p>
  <strong><u>Project #3</u></strong>
</p>
<p>
  Project Name : QuickBook Intuit (http://quickbook.intuit.com)
</p>
<p>
  Role : Developer for marketing pages
</p>
<p>
  Client : Intuit
</p>
<p>
  Application Server : Intuit Servers
</p>
<p>
  Duration <strong> </strong> : May 2016 to July 2016
</p>
<p>
  Team : 20+
</p>
<p>
  Technology used <strong> </strong>: OO JavaScript, React, Spring MVC,
  RESTFull, HTML 5, SCSS, etc.
</p>
<p>
  Tools : Intellij, Visual Studio Code, Sublime Text, SOAP UI, etc.
</p>
<p>
  Description: Designed and developed Designed and developed widgets and
  plugins for quickbook.com application using JavaScript, react, intuit
  internal JavaScript framework, java, etc. Also part of the team where we
  separated few pieces from quickbook.com monolithic to widgets using intuit
  internal JavaScript framework
</p>
<p>
  <strong><u>Project #4</u></strong>
</p>
<p>
  Project Name : Conns
</p>
<p>
  Role : Architect, Design, Develop
</p>
<p>
  Client : Conns
</p>
<p>
  Application Server : Deployed in unis server and run through Jenkins maven
  jobs
</p>
<p>
  Duration <strong> </strong> : March 2016 to May 2016
</p>
<p>
  Team : 3+
</p>
<p>
  Technology used <strong> </strong>: JAVA, REST web services, SAML, Oauth2,
  SOAP web services<strong> </strong>
</p>
<p>
  Tools : Intellij, Visual Studio Code, Sublime Text, SOAP UI. etc
</p>
<p>
  Description: Designed and developed application in java to make various
  REST/SOAP web services call to end points like DocuSign connect and
  eOriginal and do operation in the client side application. Created
  application which will act like end poing and will be heated whenever any
  transaction will be done in DocuSign and eOriginal server like signing a
  document, creating an envelope, etc.
</p>
<p>
  During the project development, implemented many security measures like
  SAML authentication, Oauth2 authentication and token based authentication.
</p>
<p>
  <strong><u></u></strong>
</p>
<p>
  <strong><u>Project #5</u></strong>
</p>
<p>
  Project Name : Cucumber framework
</p>
<p>
  Role : Architect, Design, Develop, Team management
</p>
<p>
  Client : Bank of America
</p>
<p>
  Application Server : Deployed in unis server and run through Jenkins maven
  jobs
</p>
<p>
  Duration <strong> </strong> : March 2015 to January 2016
</p>
<p>
  Team : 10-20
</p>
<p>
  Technology used <strong> </strong>: Cucumber BDD, JAVA, Maven <strong> </strong>
</p>
<p>
  Tools : Eclipse, Natural eclipse plugin, Jenkins, etc.
</p>
<p>
  Description: Designed and developed a framework/tool to test all the
  application under CashPro using Cucumber BDD, Jana, Gherkins. The tool will
  test the behavior of the application rather unit test no matter in which
  language it written. The best feature is any one including business analyst
  can write test cases in plain English and everyone can be involved in very
  early stage of SDLC.
</p>
<p>
  <strong><u></u></strong>
</p>
<p>
  <strong><u>Project #6</u></strong>
</p>
<p>
  Project Name : CashPro Online
</p>
<p>
  Role : Owner of Payment module
</p>
<p>
  Client : Bank of America
</p>
<p>
  Application Server : WebLogic in Bank of America cloud
</p>
<p>
  Duration <strong> </strong> : November 2014 to January 2016
</p>
<p>
  Team : 15-20
</p>
<p>
  Technology used <strong> </strong>: JAVA, Spring MVC, JSF, Maven <strong> </strong>
</p>
<p>
  Front Ends : AngularJS, jQuery, HTML 5, CSS 3
</p>
<p>
  Database : Oracle 11g
</p>
<p>
  Tools : Eclipse, Notepad ++ 5
</p>
<p>
  Description: CashPro is used in many corporates as a banking solution to
  handle all types of payment. I am working by taking ownership of the
  payment module. Responsible to handle any type’s code changes, functional
  improvement, UI improvement and code review. Working extensively with
  business team and code development team to provide end to end solution.
</p>
<p>
  <strong><u>Project #7</u></strong>
</p>
<p>
  Project Name : Google Atlas / Dashboard
</p>
<p>
  Role : Developer and Team lead
</p>
<p>
  Client : Google Inc.
</p>
<p>
  Application Server : Google cloud services
</p>
<p>
  Duration <strong> </strong> : April 2014 to November 2014
</p>
<p>
  Team : 15
</p>
<p>
  Technology used <strong> </strong>: JAVA, JSP, Servlet, Google datastore, <strong> </strong>
</p>
<p>
  Front Ends : AngularJS, jQuery, HTML 5, CSS 3
</p>
<p>
  Database : Google Datastore
</p>
<p>
  Tools : Eclipse
</p>
<p>
  Description: Worked in tools used to put addresses, roads, builds, etc.
  into the Google map. It was an existing project when I joined the team. I
  learned new google technology and contributed to the project. As a senior
  developer, I worked in many modules and handled the team. I learned and
  worked technologies like Google App Engine. App engine Datastore,
  AngularJS, etc. <strong><u></u></strong>
</p>
<p>
  <strong><u></u></strong>
</p>
<p>
  <strong><u>Project #8</u></strong>
</p>
<p>
  Project Name : ARCS (Associate Recognition and Compensation Statement)
</p>
<p>
  Role : Developer and Team lead
</p>
<p>
  Client : NCR Corporation
</p>
<p>
  Application Server : Apache Tomcat 6.5
</p>
<p>
  Duration <strong> </strong> : June 2011 to April 2014
</p>
<p>
  Team : 6
</p>
<p>
  Technology used <strong> </strong>: JAVA, JSP, Servlet, PLSQL, Shell Script <strong> </strong>
</p>
<p>
  Mobile Application : jQuery Mobile, jQuery, Android, HTML 5, CSS 3
</p>
<p>
  Database : Oracle 10g (Upgraded to 11g)
</p>
<p>
  Tools : Eclipse Juno, SQL Navigator 5.5/6.5
</p>
<p>
  Description: ARCS project handles sales associate and their bonus in NCR
  Corporation. I joined the team as a Senior Software Engineer and worked in
  the entire application. My role and responsibility was to take care of the
  application, interacting with the business users, handling the team and
  mentoring juniors and interns. During my tenure, I developed application in
  JAVA/J2EE, Oracle PL/SQL, JavaScript, jQuery, HTML%. CSS3. In addition to
  that I designed a Mobile Application from scratch using Phone GAP, jQuery
  Mobile, HTML 5, CSS 3 and Web Services.
</p>
<p>
  <strong><u>Project #9</u></strong>
</p>
<p>
  Project Name : NCR Intranet Portal (https://intranet.ncr.com/index.php)
</p>
<p>
  Organization : NCR Corporation
</p>
<p>
  Team : 12
</p>
<p>
  Application Server : XAMPP, Apache Web Server
</p>
<p>
  Duration : September 2010 to June 2011
</p>
<p>
  Technology used :<strong> </strong>JAVA/J2EE<strong>, </strong>MySQL,
  jQuery, HTML, CSS, PHP, Joomla
</p>
<p>
  Description:<strong> </strong>NCR intranet portal is an application which
  is designed and developed for NCR internal usages. The application is
  widely used by its employee, customers and venders. In intranet, NCR
  employee and customers can see many information regarding company, its
  product, customers, employee, etc. as per the permission provided to
  individual users. It facilitates employees to easily communicate with each
  other and improve the productivity of the company. Recently we added the
  company’s HR information to the portal as well. <strong><u></u></strong>
</p>
<p>
  <strong><u></u></strong>
</p>
<p>
  <strong><u>Project #10</u></strong>
</p>
<p>
  Project Name : FAME Addict
</p>
<p>
  Client : FAME Addict (U.S.A.)
</p>
<p>
  Application Server : XAMPP
</p>
<p>
  Organization : smartData enterprises (India) Ltd.
</p>
<p>
  Duration <strong> </strong> : June 2010 to September 2010
</p>
<p>
  Technology used <strong> </strong>: PHP, AJAX, MySQL, Joomla
</p>
<p>
  Description<strong>: </strong>The FAME Addict is a place for media people
  where they can show of their profile to media industry and communicate with
  other media people and industry. This is also a social media website like
  Orkut/Facebook, where users can contact and send message to friend or added
  users in the site. It is a utility designed for the users to have access
  the secured users database and sending message to them. It has an admin
  module where admin can extract reports, verify users profile and manage
  services, etc.
</p>
<p>
  <strong><u>Project #11</u></strong>
</p>
<p>
  Project Name : RevGrp/scmcrm (https://scm.revgrp.com/)
</p>
<p>
  Client : Révolution Group (www.revgrp.com)
</p>
<p>
  Application Server : XAMPP
</p>
<p>
  Organization : smartData enterprises (India) Ltd.
</p>
<p>
  Duration <strong> </strong> : December 2009 to June 2010
</p>
<p>
  Team : 4 developers 1 QA
</p>
<p>
  Technology used <strong> : </strong>PHP, MySQL, jQuery, Fusion Chart
</p>
<p>
  Framework : cakePHP 1.2
</p>
<p>
  Database : MySQL 1.5
</p>
<p>
  Description<strong>: </strong>The project REVGRP is a SCM and CRM system
  which is used to maintain the customers, vendors and employees of the
  company. The Project is specially designed for the company’s various
  departments situated in various countries (USA, China and Hong Kong), their
  communications and shipments of goods from one office to another office and
  to customers as well. The major modules are Administration, Account, User
  management, Customer management, Vendors management, Orders (VPO/CPO), Mail
  System etc. Rolls are specified to users (like employee, customer and
  vendor).
</p>
<p>
  <strong><u></u></strong>
</p>
<p>
  <strong><u></u></strong>
</p>
<p>
  <strong><u>Project #12</u></strong>
</p>
<p>
  Project Name : Authentic Global Account (AGA)
</p>
<p>
  Client : Authentic Technology (India) Pvt. Ltd.
</p>
<p>
  Application Server : Apache Tomcat 5.5
</p>
<p>
  Organization : Authentic Technology (India) Pvt. Ltd.
</p>
<p>
  Duration <strong> </strong> : March 2009 to December 2009
</p>
<p>
  Technology used <strong> </strong>: JAVA, Struts 1.2, jQuery
</p>
<p>
  Database : MySQL
</p>
<p>
  Description<strong>: </strong>The project ‘AGA’ is a HRM which is used to
  maintain customers of the company and its employee. The project is
  specially designed for the company’s internal employee and to deal with
  various departments. The Modules are administration, payroll, account, user
  management, Leave Management and reports. It is also integrated to employee
  database. It provides information about all employees to HR and other
  Managers.<strong><u></u></strong>
</p>
<p>
  <strong><u></u></strong>
</p>
<p>
  <strong><u>Project #13</u></strong>
</p>
<p>
  Project Name : College Management System
</p>
<p>
  Organization : Authentic Technology (India) Pvt. Ltd
</p>
<p>
  Application Server : Apache tomcat
</p>
<p>
  Duration <strong> </strong> : April 2008 to March 2009
</p>
<p>
  Technology used <strong> : </strong>PHP, MySQL, JavaScript
</p>
<p>
  Description<strong>: </strong>The college Management system is a Web-based
  college management system that is intended to provide information to the
  college authority staff and students. It has many modules like Student
  Registration, online Examination System, Placement, Student Payment
  Management, and Administration. This project is developed in PHP and MySQL
  and JavaScript and have an elegant and feel.
</p>
<p>
  <strong><u>Project #14</u></strong>
</p>
<p>
  Project Name : Online Exchange System
</p>
<p>
  Client : Online Classified (US)
</p>
<p>
  Organization : Assurgent Technology Sol. Pvt. Ltd.
</p>
<p>
  Application Server : Apache Web Server
</p>
<p>
  Duration : January 2008 to April 2008
</p>
<p>
  Technology used :<strong> </strong>PHP, AJAX, MySQL, in XAMPP server
</p>
<p>
  Description<strong>: </strong>The Online Exchange system is a Web-based
  online Marketing system that is intended to provide marketing solution for
  almost all type of Markets (real-estate, jobs, community, etc.). It has an
  Admin control panel where Admin can handle the system to change look and
  feel and other administrative works. It is developed using PHP, MySQL,
  JavaScript and AJAX.<strong><u></u></strong>
</p>
<p>
  <strong><u></u></strong>
</p>
<p>
  <strong><u>Project #15</u></strong>
</p>
<p>
  Project Name : Flour Mill Management System (FloutTech).
</p>
<p>
  Client : Sri Durga Food Production Pvt. Ltd.
</p>
<p>
  Organization : Assurgent Technology sol. Pvt. Ltd.
</p>
<p>
  Duration : September 2007 to January 2008
</p>
<p>
  Team Size : 4
</p>
<p>
  Software : PHP and MySQL.
</p>
<p>
  Server : Apache Server (XAMPP)
</p>
<p>
  Description: FloutTech is an integrated solution and multi-user
  application. It has module for many types of users. It has facility like
  tracking pre sales, maintaining leads, customer management, product
  management. It has facility to generate different level of report in few
  clicks to enable management to take decision, monitoring customer
  activities, and regulate production and distribution of Wheat Products. <strong><u></u></strong>
</p>
<p>
  <strong><u></u></strong>
</p>
<p>
  <strong><u>Project #16</u></strong>
</p>
<p>
  Project Name : Horse Racing
</p>
<p>
  Organization : Assurgent Technology Sol. Pvt. Ltd.
</p>
<p>
  Application Server : Apache Web Server
</p>
<p>
  Duration : June 2007 to September 2007
</p>
<p>
  Technology used :<strong> </strong>PHP, MySQL, in Apache Server (XAMPP)
</p>
<p>
  Description<strong>: </strong>This CMS project is developed for
  establishing the costumer relationship, user management and the day to day
  operation of a horse racing company. It provides information about average
  winning chances of any contestants and other racing related information. It
  has many modules like online payment system, new user registration,
  handling basic design of the site dynamically, profile management and many
  more. This project is developed in core PHP, MySQL, JavaScript and AJAX. It
  has elegant looks which attracts online users to register and take part in
  horse racing event.<strong><u></u></strong>
</p>
<p>
  <strong><u></u></strong>
</p>
<div>
  <p>
    <strong>Honors &amp; Awards </strong>
    <strong></strong>
  </p>
</div>
<p>
  <strong></strong>
</p>
<p>
  <strong>
    NN/G 2012 Intranet Design Annual Award winners (January 2012):
  </strong>
  <strong></strong>
</p>
<p>
  <strong>Link: </strong>
  <a href="http://www.nngroup.com/news/item/2012-intranet-design-awards/">
    http://www.nngroup.com/news/item/2012-intranet-design-awards/
  </a>
</p>
<p>
  NCR Corporation's intranet designers used a significant reorganization as
  an opportunity to help make information more transparent to all. Taking
  cues from organizational restructuring, they defined one IA and search,
  eliminating many issues from both the individual and company perspectives.
  In this winning design, people can find their information while hitting
  fewer pages and sites, so they can spend less time pursuing content and
  more time consuming it.
</p>
<p>
  The NCR intranet team: Sushil Bharwani, Naveen Verma, Abhishek Anand,
  Prashant Yadav, Prateek Narang, <strong>Anirudha Das</strong>, Jai Prakash
  Mishra, Rudresh Shrotriya, Abdul Momin Khan, Mohit Sharma, Kenny Monteith,
  Myria Williams, Vic Shoup, Omar Gosh, Joshua Smith, Colleen Swanger, Stuart
  Gray, and Angelo Kalevela.
</p>
<p>
  <strong>Polymorphin Rangers (September 2015): </strong>
  Recognized by Bank of America GWBT for contribution towards hack/a/thon_
  innovation project.
</p>
<p>
  <strong>Smile Award (October 2013): </strong>
  Recognized by Management of NCR Corporation for contribution towards ARCS
  Customer account alignment project.
</p>
<div>
  <p>
    <strong>PERSONAL DETAILS</strong>
  </p>
</div>
<p>
  VISA : H1-B US working visa (expires 07/2019)
</p>
<p>
  B1/B2 US business visa
</p>
<p>
  Date of Birth : 09 June 1985
</p>
<p>
  Gender : Male
</p>
<p>
  Marital Status : Married
</p>
<p>
  Passport No : N2042274
</p>
<p>
  Nationality : Indian
</p>
<p>
  Present Address : 18349 Lost Knife Cir apt 201, Montgomery Village, MD
  20886, USA (US)
</p>
<p>
  Language : English, Hindi, Odia
</p>
<p>
  I hereby declare that the above written particulars are to the best of my
  knowledge &amp; belief.<strong><u></u></strong>
</p>
<p>
  <strong><u></u></strong>
</p>
<p>
  <strong><u></u></strong>
</p>
<p align="right">
  <strong>Aniruddha Das</strong>
  <a name="_PictureBullets"></a>
</p>
