<div class="education">

  <div>
    <p>
      <strong>Education</strong>
    </p>
  </div>

  <table border="0" cellspacing="0" cellpadding="0" width="455">
    <tbody>
    <tr>
      <td width="122" valign="top">
        <p>
          <strong>Qualification</strong>
        </p>
      </td>
      <td width="203">
        <h3>
          University/ Institution
        </h3>
      </td>
      <td width="36">
        <h3 align="center">
          Year
        </h3>
      </td>
      <td width="95">
        <h3>
          Percentage (%)
        </h3>
      </td>
    </tr>
    <tr>
      <td width="122">
        <p>
          Bachelor of engineering in computer science
        </p>
      </td>
      <td width="203">
        <p>
          Ghanshyam Hemalata Inst. of Technology and Management,
          Utkal University/BPUT, Odisha, India
        </p>
      </td>
      <td width="36">
        <p align="center">
          2006
        </p>
      </td>
      <td width="95">
        <p align="center">
          64.90
        </p>
      </td>
    </tr>
    <tr>
      <td width="122">
        <p>
          high school
        </p>
      </td>
      <td width="203">
        <p>
          Board of secondary Education, Odisha, India
        </p>
      </td>
      <td width="36">
        <p align="center">
          2000
        </p>
      </td>
      <td width="95">
        <p align="center">
          65.33
        </p>
      </td>
    </tr>
    <tr>
      <td width="122">
        <p>
          Intermediate
        </p>
      </td>
      <td width="203">
        <p>
          Council of higher secondary Education, Odisha, India
        </p>
      </td>
      <td width="36">
        <p align="center">
          2002
        </p>
      </td>
      <td width="95">
        <p align="center">
          49.11
        </p>
      </td>
    </tr>
    </tbody>
  </table>

</div>

