<div class="work-sample">

  <div class="card">
    <div class="card-header">
      <h5>FINRA Universal Data Catalog</h5>
    </div>
    <div class="card-body">
      <div class="row d-flex justify-content-between">
        <div class="col">
          <h6>Herd-UI</h6>
          <p>Herd-UI is a search and discovery tool for business and technical users.
            Everyone in your organization can use Herd-UI to browse and understand the contents of your Herd managed
            data lake.
          </p>
          <p>More details about the project can also be found at <a href="https://github.com/FINRAOS"> HERD</a></p>
          <p>
            The details of the project can also be found at
            <a href="https://github.com/FINRAOS/herd-ui">herd-ui github</a>
          </p>
        </div>
        <div class="col">
          <img class="finra-udc" [src]="'/assets/udc.jpg'">
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5>Comcast Einstein 360</h5>
    </div>
    <div class="card-body">
      <div class="row d-flex justify-content-between">
        <div class="col">
          <h6>Einstein 360</h6>
          <p>Einstein 360 is a Comcast employee tool which helps agents provide better service to current and new
            customers calling the Comcast call-centers.
            Before Einstein 360, agents were using multiple tools which prolonged the amount of time with the customer.
            Einstein 360 is the tool which helped with cutting down the agent-to-customer time.
          </p>
        </div>
        <div class="col">
          <img class="finra-udc" [src]="'/assets/comcast-einstein360.png'">
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5><a href="https://cashproonline.bankofamerica.com/">Bank of America CashPro</a></h5>
    </div>
    <div class="card-body">
      <div class="row d-flex justify-content-between">
        <div class="col">
          <h6><a href="https://cashproonline.bankofamerica.com/">Bank of America CashPro</a></h6>
          <p>Manage your cash, payments and receipts, investments, foreign exchange, credit and trade with access choices that work best for you.</p>
        </div>
        <div class="col">
          <img class="finra-udc" [src]="'/assets/boa-cashproonline.png'">
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5><a href="https://intranet.ncr.com">NCR corporation intranet</a></h5>
    </div>
    <div class="card-body">
      <div class="row d-flex justify-content-between">
        <div class="col">
          <h6><a href="https://intranet.ncr.com">NCR Intranet</a></h6>
          <p>Manage your cash, payments and receipts, investments, foreign exchange, credit and trade with access choices that work best for you.</p>
        </div>
        <div class="col">
          <img class="finra-udc" [src]="'/assets/ncr-intranet.png'">
        </div>
      </div>
    </div>
  </div>

</div>
